* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    background-color: #5995DA;
    /* Blue */
    padding: 20px 0;
}

.menu {
    border: 1px solid #fff;
    /* For debugging */
    width: 900px;
}

.product {
    width: 90%;
    margin: auto;
}

.product-info {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-imag {
    width: 100%;
    display: flex;
}

.product-image img {
    width: 320px;
    height: 320px;
    padding-left: 50px;
    border: 1px solid #021a40;
    justify-content: flex-start;
}

.description {
    display: flex;
    justify-content: center;
    margin-top: -15rem;
}

.description p {
    font-size: 20px;
}

.description ul {
    padding-top: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 0 1 24%;
}

.add_cart {
    width: 90px;
    height: 40px;
    background: #5995DA;
    color: red;
}

.color-box {
    width: 30px;
    height: 30px;
}

.disabledButton {
    background: grey;
}

.text {
    text-decoration: line-through;
}